h1, h2, h3 {
    font-weight:bold;
    white-space:nowrap;
}

p > strong > a, p > strong > a:hover {
    text-decoration:none;
    color:black;
}

.tight p {
    margin:0;
}

/*
li {
    margin-bottom:0;
}
*/
